body {
  min-height: 2500px;
}
.jumbotron {
  padding-top: 7rem;
  background-color: #6baee2;
}
#announcement {
  background-color: #6baee2;
}
section {
  scroll-padding-bottom: 20;
  padding-top: 2rem;
}

.gallery-img {
  width: 100%;
}
#gallery .row > * {
  padding: 0;
}

#contact {
  background-color: #6baee2;
}

.row-gallery {
		display: flex;
		flex-direction: row;
		justify-content: center;
}

.picture-box{
  
  transition: 1s;
}

.gallery-picture {
  position: relative;
  transition: 0.5s;
  transform: translate3d(0, 0, 150px);
}

.picture-box:hover .gallery-picture {
  transform: translate3d(0, 0, 100px) scale(1.5);
  z-index: -2;
	box-shadow: 2px 2px 2px #000000;
}
